<%- include ('../partials/admin_header')%>

    <body id="reportsPage">
        <div class="" id="home">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <%- include ('../admin/nav', { currentPage: 'dashboard' }) %>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" , style="margin-top:5%">
                        <div class="card tm-bg-primary-dark text-white">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Today sales</p>
                                            <h5 class="font-weight-bolder"> <%= todaySales %></h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">Good</span> last
                                                month
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" , style="margin-top:5%">
                        <div class="card tm-bg-primary-dark text-white">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Users</p>
                                            <h5 class="font-weight-bolder"> <%= total_users %></h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">Good</span> last
                                                month
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" , style="margin-top:5%">
                        <div class="card tm-bg-primary-dark text-white">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Orders</p>
                                            <h5 class="font-weight-bolder"> <%= total_orders %></h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">Good</span> last
                                                month
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" , style="margin-top:5%">
                        <div class="card tm-bg-primary-dark text-white">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Sale</p>
                                            <h5 class="font-weight-bolder"><%= totalSale %></h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">Good</span> last
                                                month
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row tm-content-row" style="margin-top: 10% ;">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class="tm-bg-primary-dark tm-block">
                            <h2 class="tm-block-title">Latest Hits</h2>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-block-col" style="width: 50%;height: 600px;">
                        <div class="tm-bg-primary-dark tm-block">
                            <h2 class="tm-block-title">Performance</h2>
                            <canvas id="barchart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <span id="delivered" hidden><%= delivered %>  </span>
            <span id="pending" hidden><%= Pending %>  </span>
            <span id="refunded" hidden><%= refunded %>  </span>
            <span id="returned" hidden><%= returned %>  </span>
            <span id="Cancelled" hidden><%= Cancelled %>  </span>


            <footer class="tm-footer row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="text-center text-white mb-0 px-4 small">
                        Copyright &copy; <b>2018</b> All rights reserved.

                        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template
                            Mo</a>
                    </p>
                </div>
            </footer>


            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const delivered=Number(document.getElementById('delivered').innerHTML)
                const pending=Number(document.getElementById('pending').innerHTML)
                const refunded=Number(document.getElementById('refunded').innerHTML)
                const returned=Number(document.getElementById('returned').innerHTML)
                const Cancelled=Number(document.getElementById('Cancelled').innerHTML)
                const ctx = document.getElementById('myChart');Number
                new Chart(ctx,
                    {
                        type: 'pie',
                        data: {
                            labels: [
                            'Refunded', 'Delivered', 'Pending','returned','Cancelled'
                            ],
                            datasets: [{
                                label: 'order',
                                data: [refunded,delivered, pending,returned,Cancelled],
                                backgroundColor: [
                    'rgb(176, 32, 32)',    // Refunded - Red color
                    'rgb(0, 128, 0)',    // Delivered - Blue color
                    'rgb(255, 205, 86)',    // Pending - Yellow color
                    'rgb(255, 165, 0)',    // Returned - Teal color
                    'rgb(255, 140, 0)',    // Cancelled - Orange color
                    'rgb(135, 206, 235)',   // Shipped - Purple color
                    'rgb(50, 205, 50)'      // Placed - Green color
                ],
                                hoverOffset: 4
                            }]
                        }
                    }
                )
            </script>

            <script>
                const ctz = document.getElementById('barchart');

                new Chart(ctz, {
                    type: 'bar',
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June'],
                        datasets: [{
                            label: '',
                            data: [12, 19, 3, 5, 2, 3],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>









            <%- include ('../partials/admin_footer')%>