<%- include ('../partials/user-Header')%>

<%- include ('../partials/user_nav')%>

<div class="hero-slider">
  <% if (!banner.status) { %>
    <% banner.forEach(element => { %>
      <div class="slider-item th-fullpage hero-area" style="background-image: url('<%= element.photo %>')">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 text-center">
              <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
              <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
              <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>

<section class="product-category section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h2>Shop By Brands</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box">
          <a href="/filter_category/<%= category[9]._id %>">
            <img src="/asset_1/images/shop/category/imgonline-com-ua-resize-EdN1rbR22Am1W.jpg" alt="" />
            <div class="content">
              <h3><%= category[9].category %></h3>
            </div>
          </a>	
        </div>
        <div class="category-box">
          <a href="/filter_category/<%= category[1]._id %>">
            <img src="/asset_1/images/shop/category/imgonline-com-ua-resize-u81bpzZ9mkn.jpg" alt="" />
            <div class="content">
              <h3><%= category[1].category %> </h3>
            </div>
          </a>	
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box category-box-2">
          <a href="/filter_category/<%= category[3]._id %>">
            <img src="/asset_1/images/shop/category/71qMIJnrhFL._AC_UF1000,1000_QL80_.jpg" alt="" />
            <div class="content">
              <h3><%= category[3].category %></h3>
            </div>
          </a>	
        </div>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action bg-gray section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title">
          <h2>SUBSCRIBE TO NEWSLETTER</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
        </div>
        <div class="col-lg-6 col-md-offset-3">
          <div class="input-group subscription-form">
            <input type="text" class="form-control" placeholder="Enter Your Email Address">
            <span class="input-group-btn">
              <button class="btn btn-main" type="button">Subscribe Now!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section instagram-feed">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>View us on Instagram</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
      </div>
    </div>
  </div>
</section>

<footer class="footer section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-media">
          <li>
            <a href="https://www.facebook.com/themefisher">
              <i class="tf-ion-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/themefisher">
              <i class="tf-ion-social-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/themefisher">
              <i class="tf-ion-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/themefisher/">
              <i class="tf-ion-social-pinterest"></i>
            </a>
          </li>
        </ul>
        <ul class="footer-menu text-uppercase">
          <li>
            <a href="contact.html">CONTACT</a>
          </li>
          <li>
            <a href="shop.html">SHOP</a>
          </li>
          <li>
            <a href="pricing.html">PRICING</a>
          </li>
          <li>
            <a href="contact.html">PRIVACY POLICY</a>
          </li>
        </ul>
        <p class="copyright-text">
          &copy; 2021, Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<%- include ('../partials/user-Footer')%>
