<%- include ('../partials/user-Header')%>
<%- include ('../partials/user_nav')%>

<div class="row" style="padding-top: 5%;">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sl No</th>
          <th scope="col">Order Id</th>
          <th scope="col">Date</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Refunded Amount</th>
        </tr>
      </thead>
      <tbody>
       
        <% if (orderdetails && Array.isArray(orderdetails)) { %>
      
        <% orderdetails.forEach((item,index ) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item._id %></td>
         
          <td><%= item.createdAt.toLocaleDateString() %></td>
          <td><%= item.items[0].product.name %></td>
          <td><%= item.items[0].quantity %></td>
          <td><%= item.payment_method %></td>
          <td><span></span><%= item.total %></td>

        
        
        </tr>
        <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include ('../partials/user-Footer')%>
